* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', 'Open Sans', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #222;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
}

a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

p {
  width: 80%;
  margin-top: 20px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 3em;
}

h3, h4, h5, h6 {
  font-weight: 300;
}

h2 {
  font-size: 2em;
  font-weight: 100;
  width: 70%;
}

h3 small {
  font-size: 0.8em;
  color: #444;
}

h4 {
  font-size: 1.2em;
}

button {
  padding: 5px;
  margin: 10px;
  border: 1px solid #bbb;
  border-radius: 3px;
  background-color: #eee;
  cursor: pointer;
  font-family: 'Roboto Slab', 'Open Sans', 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  transition: all 200ms;
}

button:hover {
  background-color: #ddd;
}

#application {
  width: 960px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 80px;
  min-height: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#user-info {
  position: absolute;
  top: -45px;
  right: 0px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  background: white;
  border-radius: 3px;
  padding: 5px;
}

#main-nav {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 40px;
  position: absolute;
  top: -41px;
  border: 1px solid #ccc;
  border-bottom: none;
  background: white;
}

#main-nav a {
  padding: 10px 20px;
  height: 19px;
  display: block;
  float: left;
  transition: all 200ms;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eee;
}

#main-nav a:last-child {
  border-right: none;
}

#main-nav a:hover {
  background: #ddd;
}

#main-nav a.active {
  background: white;
  border-bottom: 1px solid white;
}

.tasks {
  margin-top: 20px;
  border: 1px solid #bbb;
  border-radius: 2px;
  list-style: none;
}

.task {
  padding: 10px;
  border-top: 1px solid #bbb;
  transition: all 200ms;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.task:hover {
  background-color: #f0f0f0;
}

.task:first-child {
  border: none;
}

.task.full {
  background-color: rgba(255,0,0,0.2);
}
.task.full:hover {
  background-color: rgba(255,0,0,0.3);
}
.task.applied {
  background-color: rgba(0,128,255,0.2);
}
.task.applied:hover {
  background-color: rgba(0,128,255,0.3);
}

.task h4 {
  font-size: 0.9em;
  color: #444;
  display: inline-block;
}

.task p {
  font-size: 0.9em;
}

.task .info {
  position: absolute;
  text-align: right;
  top: 5px;
  right: -500px;
  transition: all 500ms;
}

.task:hover .info {
  right: 5px;
}

#upload-zone {
  margin: 20px;
  padding: 30px;
  border: 2px dashed #ddd;
  position: relative;
}

#upload-progress {
  position: absolute;
  height: 100%;
  background: rgba(0,255,0,0.2);
  top: 0;
  left: 0;
  transition: all 200ms;
  width: 0%;
}

#login-form {
  width: 400px;
  margin: 0 auto;
}

#login-form label {
  display: block;
  margin: 15px 10px;
}

#login-form input, #login-form select {
  display: block;
  float: right;
  padding: 5px;
  border: 1px solid #bbb;
  background: #eee;
  border-radius: 3px;
  width: 255px;
  font-family: inherit;
}

select {
  padding: 5px;
  border: 1px solid #bbb;
  background: #eee;
  border-radius: 3px;
}

#login-error {
  background: rgba(255,0,0,0.3);
  margin: 10px;
  padding: 15px;
  border-radius: 3px;
  display: none;
}

.info button {
  margin: 0;
}

textarea {
  height: 200px;
  width: 255px;
  display: block;
  float: right;
  padding: 5px;
  border: 1px solid #bbb;
  background: #eee;
  border-radius: 3px;
  font-family: inherit;
}

button.create {
  position: absolute;
  top: 0;
  right: 0;
}

#login-form button {
  position: initial;
  width: 255px;
  float: right;
  box-sizing: content-box;
}

#subview-container {
  position: relative;
}

